.dashboard {
  h1 {
    font-size: 30px;
  }
  &-data {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px 0;
    &-item {
      width: calc(50% - 10px);
      border: 1px solid gray;
      display: flex;
      flex-direction: column;
      gap: 10px 0;
      align-items: center;
      justify-content: center;
    }
  }
}
