.dropdown {
  width: 100%;
  position: relative;
  &-select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #dee2e6;
    cursor: pointer;
    display: flex;
    align-items: center;
    span {
      margin-left: auto;
    }
  }
  &-list {
    margin-top: 15px;
    position: absolute;
    z-index: 50;
    top: 100%;
    left: 0;
    width: 100%;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 10px 0 #ccc;
  }
  &-item {
    padding: 10px !important;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      background: #eee !important;
    }
  }
}
