.list-quiz-container {
  margin-top: 50px !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .card {
    width: calc(25% - 30px);
  }
  .card-body {
    height: calc(100% - 230px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .card-button {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
